@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
.about p {
  text-align: justify;
}

.more:hover,
.more:active,
.more:focus {
  color: white;
}

a.more {
  display: inline-block;
  font-family: "Lato", sans-serif !important;
  font-size: 0.9375rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: normal;
  min-width: 140px;
  outline: none !important;
  overflow: hidden;
  padding: 0.76rem 1.5rem 0.83rem;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: 0.3s;
  vertical-align: middle;
  background: rgb(252, 166, 8);
  color: #fff !important;
  border-radius: 5px;
}
a.more::after {
  content: "\f061";
  content: url(imgs/arrow.svg);
  box-sizing: border-box;
  display: block !important;

  font-weight: 900;
  position: absolute;
  right: -1rem;
  top: 45%;
  margin-top: 1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: right 0.3s;
  filter: invert(100%) sepia(77%) saturate(0%) hue-rotate(337deg)
    brightness(103%) contrast(102%);
}
a.more:hover,
a.more:focus,
a.more:active {
  transform: scale(1.01);
  text-decoration: none !important;
  padding-left: 0.5rem;
  padding-right: 2.5rem;
}
a.more:hover:after,
a.more:focus:after,
a.more:active:after {
  right: 1rem;
}

@media only screen and (max-width: 575px) {
  .about p {
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 376px) {
  .logo img {
    width: 280px;
  }
}

@media only screen and (max-height: 500px) and (min-width: 768px) {
  .sect1 {
    margin-top: 150px;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.mb-cus {
  font-size: 30px;
  font-weight: bolder;
  font-family: "DM Sans", sans-serif;
}
.description {
  color: grey;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
}
.description-right {
  color: rgb(77, 71, 71);
  font-size: 15px;
  float: right;
  font-family: "DM Sans", sans-serif;
}
.description-left {
  color: rgb(77, 71, 71);
  font-size: 15px;

  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 700px;
  margin-top: 100px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  font-family: "DM Sans", sans-serif;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
#red {
  color: red;
  margin-left: 4px;
  font-size: 17px;
  margin-bottom: 0cm;
}
#grey {
  color: #777575;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .user-details .input-box2 {
  margin-bottom: 15px;
  width: 100%;
}
form .user-details .radio {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .user-details .input-select {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  position: relative;
}
.input-select select {
  display: none; /*hide original SELECT element: */
}

.select-items div,
.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #777575;
  font-family: "DM Sans", sans-serif;
}
form .input-select span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #777575;
  font-family: "DM Sans", sans-serif;
}
form .input-box2 span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #777575;
  font-family: "DM Sans", sans-serif;
}
form .radio span.details {
  display: block;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: #777575;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 1px;
  transition: all 0.3s ease;
}
.user-details .input-select input {
  height: 45px;
  width: 100%;

  font-size: 30px;

  border-radius: 5px;
  padding-left: 15px;

  transition: all 0.3s ease;
}
.user-details .radio input {
  height: 15px;
  width: 20%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 1px;
  transition: all 0.3s ease;
}
.user-details .input-box2 input {
  height: 80px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 1px;
  transition: all 0.3s ease;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #0062e2;
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: #034ba8;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
    margin-top: 100px;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .user-details .radio {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 400px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
