.hero {
  height: 100vh;
  background-image: url(../images/grp.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.bg-img-gradient {
  background-image: linear-gradient(#01213fcb, #04050ad0),
    url(../images/grp.jpg);
}

.hero-text {
  font-size: 4rem;
}

.hero-content {
  margin-top: 50vh;
  transform: translateY(-50%);
  margin-left: 15vw;
  max-width: 700px;
}
@media screen and (max-width: 1200px) {
  .hero-content {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    margin-top: 40vh;
    margin-left: 5vw;
  }
}

@media screen and (max-width: 640px) {
  .hero-text {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .hero-content {
    max-width: 350px;
    margin-left: 5vw;
  }
}

.scroller {
}

.scroller-container {
  /* margin-right: auto;
  margin-left: auto; */
  /* margin-left: 50vw;
  transform: translateX(-50%); */
  /* transform: translateX(-50px); */

  position: absolute;
  bottom: 3%;
  left: 47%;

  transform: translateX(200px);
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0);
  }
}
