.why {
  padding-top: 50px;
  padding-bottom: 50px;
}

.why-icon {
  width: 50px;

  filter: invert(43%) sepia(34%) saturate(2850%) hue-rotate(181deg)
    brightness(98%) contrast(112%);
    display:block;
  margin-left: auto ;
  margin-right: auto;
}

.why-master-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
}

.why-container {
  max-width: 450px;
  padding: 30px 0px;
}

@media screen and (min-width: 640px) {
  .why-container {
    max-width: 320px;
  }
}

.why-subheading {
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.why-p {
  font-weight: lighter;
}

#btn-bg-blue {
  background-color: royalblue;
  color: #fff !important;
  border: 2px solid royalblue;
}

#btn-bg-blue::after {
  filter: invert(100%) sepia(77%) saturate(0%) hue-rotate(337deg)
    brightness(103%) contrast(102%);
}
